<%= render 'left_navbar' %>

<div class="discipline-other-block">
	<h1>Редактирование дисциплины</h1>

	<%= render 'form' %>

	<br>
	<%= link_to t(:to_disciplines), disciplines_path, class: 'btn btn-primary' %>
  <%= link_to t(:show), @discipline, class: 'btn btn-default edu_portal_link' %>
</div>