<p>
  <strong><%= Discipline.human_attribute_name(:title) %>:</strong>
  <%= @discipline.title %>
</p>

<%= link_to t(:edit), edit_discipline_path(@discipline) %> |
<%= link_to t(:back), disciplines_path %>
