<div class="show_student">
  <% @group = @user.group %>
  <p>
    <strong><%= User.human_attribute_name(:group) %>:</strong>
    <%= link_to @group.numer, @group, class: 'edu_portal_link' %>
  </p>

  <br>

  <% @disciplines = @group.disciplines %>
  <%= render 'disciplines/index_student' %>
</div>