<h1>Редактирование секции</h1>

<%= render 'form' %>

<br>
<%= link_to t(:show), @section, class: 'btn btn-primary' %>
<%= link_to t(:back), sections_path, class: 'btn btn-default edu_portal_link' %>
