<h3><%= Rating.human_attribute_name(:detailed_rating) %>:</h3>
<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th><%= Rating.human_attribute_name(:student) %></th>
      <%# TODO сделать детальный рейтинг по дисциплине %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
