<div id="new_page_for_discipline">
  <h3>Создание новой страницы учебных материалов</h3>

  <%= render 'form' %>

  <br>

  <%= link_to t(:back), pages_path(discipline_id: @discipline.id), class: 'btn btn-default edu_portal_link' %>
</div>