<br>
<%= form_for Document.new, :html => { :multipart => true, :id => "fileupload" } do |f| %>
  <div class="row fileupload-buttonbar">
    <div class="span7">
      <span class="btn btn-success">
        <%= f.file_field :file, multiple: true %>
      </span>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-upload icon-white"></i>
        <span><%= t(:start_upload) %></span>
      </button>
      <button type="reset" class="btn btn-warning">
        <i class="fa fa-ban icon-white"></i>
        <span><%= t(:cancel_upload) %></span>
      </button>
    </div>
  </div>
	<br>
<% end %>
