<% if @current_user.role == 2 %>
  <%= render partial: 'admin_index_docs', locals: { documents: @documents } %>
<% else %>
  <div>
    <%= render partial: 'table_docs', locals: { documents: @current_user.documents } %>
  </div>
<% end %><br>

<%= link_to 'Загрузить новый документ', new_document_path, class: 'edu_portal_link' %>