<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>File:</strong>
  <%= @document.file %>
</p>

<%= link_to 'Редактировать', edit_document_path(@document) %> |
<%= link_to 'Назад', documents_path %>
