<p id="notice"><%= notice %></p>

<p>
  <strong>Значение:</strong>
  <%= @student_rating_element.value %>
</p>

<br>
<%= link_to t(:edit), edit_student_rating_element_path(@student_rating_element), class: 'btn btn-primary' %>
<%= link_to t(:back), student_rating_elements_path, class: 'btn btn-default edu_portal_link' %>
