<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @student_rating_element.value %>
</p>

<%= link_to t(:edit), edit_student_rating_element_path(@student_rating_element), class: 'edu_portal_link' %> |
<%= link_to t(:back), student_rating_elements_path, class: 'edu_portal_link' %>
