a.teacher_link {
  color: #fff !important;
  &:hover {
    color: #bbb;
  }
  &:visited {
    color: #bbb;
  }
}

#additional_menu {
  margin: 0 !important;
  margin-top: 11% !important;
  float: left !important;
  max-width: 18%;
  border: 1px solid #ccc;
  background-color: #e7e7e7;
  position: fixed;
}

.discipline-other-block {
  float: left !important;
  margin-left: 20%;
  margin-top: 0 !important;
  padding-left: 2%;
}

.left-nav-link {
  outline: none;
  display: block;
  margin: 0 !important;
  padding-left: 1px !important;
  padding-right: 1% !important;
  max-width: 17% !important;
  &:hover {
  }
  &:focus {
    cursor: default;
  }
}

.discipline-title {
  text-align: center;
}

.discipline-teachers {
  float: right;
}