.users_page {
  margin: 2%;
  padding: 5px;
}

.all_users {
}

.tab_header {
  text-decoration: underline;
  color: #4682B4;
  background-color: #BBB;
  th {
    text-align: center;
  }
}

.users_tr {
  text-align: center;
}