<div class="navbar" id="additional_menu">
  <div class="container">
    <div class="navbar">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to 'Учебные материалы', '#', class: 'left-nav-link' %></li>
        <li><%= link_to 'Подробный рейтинг', detailed_rating_discipline_path(@discipline), class: 'left-nav-link' %></li>
        <li><%= link_to 'Перейти к группе', @discipline.group, class: 'left-nav-link' %></li>
      </ul>
    </div>
  </div>
</div>